* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f1f1f1;
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
#text {
  font: 125% "Poppins", sans-serif;
}
#btn {
  font: 100% "Poppins", sans-serif;
  margin: 10px 0;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 4px #000;
}

#btn:hover {
  font: 100% "Poppins", sans-serif;
  margin: 10px 0;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 4px #000;
}
